<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>
    <div class="footer-content">
        <div class="contact-one">
            <h2>Contacto 1</h2>
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio facere magni eligendi deserunt perferendis odit
                libero nam voluptas quae rem laborum consectetur ipsa repellendus culpa similique, ratione quibusdam maxime iure.
            </P>
        </div>
        <div class="contact-two">
            <h2>Contacto 2</h2>
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio facere magni eligendi deserunt perferendis odit
                libero nam voluptas quae rem laborum consectetur ipsa repellendus culpa similique, ratione quibusdam maxime iure.
            </P>
        </div>
        <div class="contact-three">
            <h2>Contacto 3</h2>
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio facere magni eligendi deserunt perferendis odit
                libero nam voluptas quae rem laborum consectetur ipsa repellendus culpa similique, ratione quibusdam maxime iure.
            </P>
        </div>    
    </div>
    
</body>
</html>
