*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

hr{
    margin: 15PX 0;
    height: 2PX;
    color: rgb(0, 0, 0);
}

.footer-content{
    display: flex;
    flex-direction: column;
}
/* .footer-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 95%;
    margin: auto;
} */


.contact-one, .contact-two, .contact-three{
    text-align: justify;
    width: 80%;
    margin: 10px auto;
}
h2{
    text-align: center;
}