<div class="contacto-form-content" name="register" id="register" >
    <form class="contacto-form" (ngSubmit)="onRegister()" #loginForm="ngForm">
      <div class="input-group">
        <label for="name">
          Nombre:
        </label>
        <input class="input" type="text" name="name" id="name" [(ngModel)]="register.name" />
        <p>Mensaje de error</p>
      </div>
      <div class="input-group">
        <label for="email">
          Email:
        </label>
        <input type="email" name="email" id="email" [(ngModel)]="register.email" />
        <p>Mensaje de error</p>
      </div>
      <div class="input-group">
        <label for="password">
          Contraseña:
        </label>
        <input type="password" name="password" id="password" [(ngModel)]="register.password" />
        <p>Mensaje de error</p>
      </div>
      <button class="form-submit" type="submit" [disabled]="loginForm.invalid">Registrar</button>
    </form>
  </div>
