<div class="joinchat joinchat--right joinchat--show joinchat--noanim joinchat--btn joinchat--tooltip" data-settings="{&quot;telephone&quot;:&quot;573143679940&quot;,&quot;mobile_only&quot;:false,&quot;button_delay&quot;:0,&quot;whatsapp_web&quot;:true,&quot;qr&quot;:false,&quot;message_views&quot;:2,&quot;message_delay&quot;:0,&quot;message_badge&quot;:false,&quot;message_send&quot;:&quot;Hola Iwami, deseo más información 👉 https://iwamipersonalizados.com&quot;,&quot;gads&quot;:&quot;&quot;,&quot;message_hash&quot;:&quot;&quot;}">
	<div class="joinchat__button">
		<div class="joinchat__button__open">
            <img class="iwamiIcon" src="../assets/icons/Whatsapp-Icon-Whatsapp-Logo.png" alt="25px" href="https://iwamipersonalizados.com/"><a href="https://iwamipersonalizados.com/" ></a>    
        </div>
    </div>
</div>
