<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="../src/assets/icons/iwami2.jpeg">

</head>
<body>
    <header>
        <app-nav-bar></app-nav-bar>   
    </header>
    <section>
        <router-outlet></router-outlet>
    </section>
    <footer>
        <hr>
        <h1>Contacto</h1>
        <P>Acá van los datos</P>
    </footer>
</body>
</html>   
