.card-container{
    width: 95%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card:hover{
    transform: scale(1.04);
    position: relative;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.card-img{
    width: 100%;
    height: 550px;
}

.card-text{
    font-size: x-large;
}

.card-link{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: x-large;
}

.card-link:hover{
    color: rgb(221, 187, 74);
    transform: scale(2px);
}

.discount{
    background-color: black;
    color: white;
    margin: 3px;
    width: max-content;
    padding: 2px 5px;
    border-radius: 10px;
    font-weight: bold;
    font-size: x-large;    
}

.price{
    font-weight: bold;
    font-size: x-large;   
}