.card{
    margin: 10px;
    /* display: inline-block;
    width: 25%; 
    border: 2px;
    border-color: black;
    height: 10rem;
    margin-top: 20px;
    margin-left: auto; */
}

.card-img-top{
    /* width: 18rem;  */
    height: 200px;
}

.card-container{
    display: flex;
    flex-direction: row;
}