  <div class="nav-container">  
  <nav class="navbar-main">
    
    <ul class="navbar-menu" [class.navbar-menu-show]="classApplied">
      <li>
        <img class="iwamiIcon" src="../../../assets/imagenes/icons/iwami1png.png" alt="...">
      </li>
      <li>
        <a routerLinkActive="active" aria-current="page" [routerLink]="['home']" (click)="toggleSideBar()">Inicio</a>
      </li>
      <li>
        <a routerLinkActive="active" [routerLink]="['nosotros']" (click)="toggleSideBar()">Nosotros</a>
      </li>
      <li>
        <a routerLinkActive="active" [routerLink]="['productos']" (click)="toggleSideBar()">Productos</a>
      </li>
      <li>
        <a routerLinkActive="active" [routerLink]="['contacto']" (click)="toggleSideBar()">Contacto</a>
      </li>
    </ul>
    
    <div class="menu-btn" id="menu-btn" (click)="toggleSideBar()">   
      <label for="menu-btn" class="lbl-menu">
          <span id="spn1"></span>
          <span id="spn2"></span>
          <span id="spn3"></span>
      </label>
    </div>
    <hr>
  </nav>
</div>