<div class="nav-container">  
  <nav class="navbar-main">
    <img class="iwamiIcon" src="../../../assets/imagenes//iwami1png.png" alt="...">
    <ul class="navbar-menu">
      <li>
        <a routerLinkActive="active" aria-current="page" [routerLink]="['home']">Inicio</a>
      </li>
      <li>
        <a routerLinkActive="active" [routerLink]="['nosotros']">Nosotros</a>
      </li>
      <li>
        <a routerLinkActive="active" [routerLink]="['productos']">Productos</a>
      </li>
      <li>
        <a routerLinkActive="active" [routerLink]="['contacto']">Contacto</a>
      </li>
    </ul>
    <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
    </button>
  </nav>
  <hr>

</div>