*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-container{
    width: 95%;
    margin: auto;
    margin-top: 20px;    
}

.navbar-main{
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    /* background-color: rgba(228, 204, 69, 0.897); */
    /* -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
    /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
}

/*--NAV BAR MENU--*/
.iwamiIcon{
    width: 150px;
    height: 70px;
}

.navbar-menu{
    flex: 1;
    margin-left: 20px;
}

a{
    color: black;
    font-size: larger;
    text-decoration: none;
}

a:hover{
    color: rgb(221, 187, 74);
    /* background-color: rgb(215, 249, 250); */
    border-radius: 5px;
    /* padding: 5px;   */
}

ul{
    list-style: none;
    display: flex;
}

li{
    padding: 20px;
}

.nav-main:hover{
}

hr{
    margin: 15PX 0;
    height: 2PX;
    color: black;
}

