.nav-cont{
    margin-bottom: 20px;
}

.navBar{
    display: flex;
    position: relative;
    background-color: rgba(241, 220, 99, 0.575);
}

.iwamiIcon{
    width: 150px;
    height: 70px;
}

.navbar {
    
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.nav-link{
    font-size: large;
    
    /* background-color: rgba(255, 255, 255, 0.918); */
    border-radius: 5px;
    margin: 20px;
    padding: 1px;
    /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
}

.nav-link:hover{
    color: brown;
}

