.nav-container{
    margin: 5px 10px;
    background: white;
    border: 1px  rgb(20, 19, 18);
}

.navbar-main{
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px 5px;    
}

/*--NAV BAR MENU RESPONSIVE--*/
.navbar-menu{
   display: block;
   top: 0;
   left: 0%;
   background-color: rgb(255, 255, 255);
   border-radius: 0px 0px 10px 0px ;
   opacity: 0.9;
   transform: translate(-400px);
   transition: transform .20s ease-in-out;
   z-index: 2000;
}
.navbar-menu-show {
    transform: translate(0px);
}

ul{
    display: block;
    position: absolute;
    list-style: none;
    display: flex;
    padding: 10px;
}
li{
    padding: 20px 10px 20px 10px;
}

/*--NAV BAR MENU--*/
.iwamiIcon{
    width: 150px;
    height: 70px;
}
a{
    color: black;
    font-size: x-large;
    text-decoration: none;
}
a:hover{
    color: rgb(221, 187, 74);
    border-radius: 5px;
}


/*--NAV BAR MENU BUTTON--*/
.menu-btn{
    position: absolute;
    cursor: pointer;
    height: 50px;
    right: 10px;
    width: 60px;
}

.lbl-menu{
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;
    right: -9px;
    top: 9px;
    transform: scale(1.2);
    margin: 2px;
}
label {
}
.lbl-menu #spn1,#spn2,#spn3{
    position: absolute;
    content: '';
    background:rgb(81, 81, 81);
    width: 40px;
    height: 5px;
    border-radius: 5px;
    transition: all 400ms ease;
}
#spn2{
    top: 12px;
}
#spn3{
    top: 23px;
}


hr{
    margin: 15PX 0;
    height: 2PX;
    color: rgb(0, 0, 0);
}








/*.navbar-menu{
    flex: 1;
    margin-left: 20px;
}

a{
    color: black;
    font-size: x-large;
    text-decoration: none;
}

a:hover{
    color: rgb(221, 187, 74);
    border-radius: 5px;
}

ul{
    list-style: none;
    display: flex;
}

li{
    padding: 20px;
}


hr{
    margin: 15PX 0;
    height: 2PX;
    color: rgb(0, 0, 0);
}
 */
