/* Application-wide Styles */
* {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

h1 {
  color: rgb(221, 187, 74);
  font-family: 'Montserrat', sans-serif;
  font-size: 250%;
  font-weight: bold;
}

h2,
h3 {
  color: rgb(221, 187, 74);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}



body{
  /* background-image: url("assets/imagenes/fondo.webp"); 
  background-size: 100%;
  background-position: center;
  width: 100%; */
}